<div class="error--page">
  <section class="block error--container">
    <div class="error-message">
      <span class="error--content"
        ><h3>
          Oh dear! The path you have chosen leads to no destination. I mean
          virtually. So, basically, the page you are looking for cannot be
          found. Please check if the URL is correct. We apologize for
          inconvenience. You can write to us about this and we'll try to get
          back to you as possible. For now, let's go back to
          <a href="/">home</a>.
        </h3></span
      >
    </div>
  </section>
</div>
